DEBUG=<DEBUG>
SECRET_KEY=<SECRET_KEY>
FIELD_ENCRYPTION_KEY=<FIELD_ENCRYPTION_KEY>
SOCIAL_AUTH_MEDIAWIKI_KEY=<SOCIAL_AUTH_MEDIAWIKI_KEY>
SOCIAL_AUTH_MEDIAWIKI_SECRET=<SOCIAL_AUTH_MEDIAWIKI_SECRET>
SOCIAL_AUTH_MEDIAWIKI_URL=<SOCIAL_AUTH_MEDIAWIKI_URL>
SOCIAL_AUTH_MEDIAWIKI_CALLBACK=<SOCIAL_AUTH_MEDIAWIKI_CALLBACK>
SOCIAL_AUTH_MEDIAWIKI_USER_AGENT=<SOCIAL_AUTH_MEDIAWIKI_USER_AGENT>