{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script>
      const savedTheme = localStorage.getItem("theme");
      if (savedTheme) {
        document.documentElement.setAttribute("data-theme", savedTheme);
      }
    </script>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | WMB</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="preconnect" href="https://tools-static.wmflabs.org/">
    <link rel="stylesheet" type="text/css" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/w3-css/4.1.0/3/w3.css">
    <link rel='stylesheet' type='text/css' href='https://tools-static.wmflabs.org/fontcdn/css?family=Poppins:400,700,800,900'>
    <link rel="stylesheet" type="text/css" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    {% block styles %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/popper.js/2.11.6/umd/popper.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="wrapper">
    {% block navbar %}{% include 'navbar.html' %}{% endblock %}
    <div class="content-container">
        {% block main_content %}
            <main class="w3-container">
                <div class="breadcrumb">{% block breadcrumbs %}{% endblock %}</div>
                {% block banner %}
                    <h1 class="w3-row logo">
                        <img class="dm-invert" src="{% static 'images/logo2.svg' %}" alt="{% trans "Logo for the project" %}" width="5em">
                    </h1>
                {% endblock %}
                {% block content %}{% endblock %}
            </main>
        {% endblock %}
        <footer>{% block footer %}{% trans "This app was developed by Wikimedia Brasil." %}{% endblock %}</footer>
    </div>
    {% block scripts %}{% endblock %}
</div>
</body>
<script src="{% static 'js/theme.js' %}"></script>
</html>